*{
    margin: 0;
    padding: 0;
}

.top{
    padding-bottom: 96px;
}

.header{
    padding-top: 40px;
    }

.top__content{
    margin-top: 84px;
    margin-bottom: 163.1px;
}

.title{
    margin-bottom: 40px;
}

.top__bottons{
    margin-top: 16px;
}

