*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: white;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

.top{
    background-color: white;
    padding-bottom: 96px;
}

.header{
    display: flex;
    padding-top: 40px;
    background-color: white;
}

.navigation{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
}

.main__content{
    margin-top: 84px;
    margin-bottom: 163.1px;
}

.content__wrapper{
    display: flex;
    justify-content: space-between;
}

.content{
    display: inline-flex;
    gap: 30px;        justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.item{

}

.item__big{

}

.title__text{

}

.title{
    padding-top: 164px;
    font-style: normal;
    font-weight: 522px;
    width: 522px;
    height: 222px;font-family: 'Gilroy-Bold';font-size: 60px;line-height: 70px;color: #000000;
    margin-bottom: 17px;
}

.text{
    padding-top: 403px;
    font-style: normal;
    font-weight: 466px;
    width: 466px;
    height: 48px;font-family: 'Gilroy-Medium';font-size: 20px;line-height: 23px;color: #888888;
}
.top__bottons{
    padding-top: 488px;
    margin-top: 16px;
}

.logo__wrapper{
    display: flex;
    justify-content: space-between;
}

.item{
    width: 310px;
    height: 226px;
}

.heading{
    font-size: 24px;line-height: 28px;
    color: #000000;
}

.item__text{
    font-size: 15px;line-height: 150%;
    color: #666666;
}